SHELBY_API_KEY=YOUR_SHELBY_API_KEY_HERE
SHELBY_NETWORK=testnet
SHELBY_MOCK=true

APTOS_NETWORK=testnet
APTOS_PRIVATE_KEY=YOUR_PRIVATE_KEY_HERE
CONTRACT_ADDRESS=0x6773b09a96b007eb6fb16214ab838a0b36510e09fc3cdc64c807345f55185bb5
